<%- include('../header.ejs') -%>
    <h1>create product page</h1>

    <form class="container" action="/products/<%= product.id %>/update" method="post">
        <label for="name">
            name <input type="text" id="name" name="name" value="<%= product.name %>">
        </label>
        <label for="price">
            price <input type="text" id="price" name="price" value="<%= product.price %>">
        </label>
        <label for="description">
            description <input type="text" id="description" name="description" value="<%= product.description %>">
        </label>
        <input type="submit" value="update" class="btn btn-primary">
    </form>
<%- include('../footer.ejs') -%>
